.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.brand {
  display: grid;
  grid-template-columns: 50px auto;
  max-width: 300px;
  gap: 10px;
  place-items: center;
}

.brand:hover {
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  object-fit: cover
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans;
  color: #2c2851;
}

.toggle {
  display: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.item {
  color: #2c2851;
  cursor: pointer;
  list-style-type: none;
}

@media only screen and (max-width: 700px) {
  .toggle {
    display: block;
    height: 35px;
  }

  .close {
    display: none;
  }

  .navigation {
    flex-direction: column;
    justify-content: normal;
    position: absolute;
    padding: 40px;
    gap: 40px;
    top: 55px;
    left: 20%;
    width: calc(80% - 20px);
    font-size: 22px;
    font-weight: bold;
    height: 100vh;
    border: 1px #85819f ridge;
    border-radius: 10px;
    background-color: #efeff1;
    box-shadow: -10px 5px 5px #00000038;
  }
}
