.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

.icon {
  width: 100px;
  height: 100px;
}

.title {
  margin-bottom: 10px;
  color: #2c2851;
  font-family: "Montserrat", sans-serif;
}

.description {
  color: #85819f;
}

@media only screen and (max-width: 560px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
