@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  line-height: 2rem;
}

h1 {
  font-size: large;
}

body {
  background-color: hsl(0, 0%, 90%);
}

li {
  list-style-type: none;
}

hr {
  box-shadow: 2px darkslategray;
}

.title {
  font-family: "Montserrat", sans-serif;
  margin: 150px 0 20px 0;
  color: #2c2851;
  font-size: 35px;
}

.description {
  margin: 30px 0;
  color: #4D4D4D;
  font-size: 18px;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}
